@import "../../vars.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.container h1 {
  font-size: 3.5rem;
  color: var(--color-text);
  font-style: italic;
  /* position: absolute; */
  left: 0;
}

.container h1 span {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}

.work {
  display: flex;
  justify-content: center;
}
