@import "../../vars.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
}

h1 .span {
  /* font-family: var(--font-sans-serif); */
}

.skillJob {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.skills {
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
        rgba(var(--color-light), 0.5),
        rgba(var(--color-border-dark), 0.5)
      )
      padding-box,
    linear-gradient(
        130deg,
        rgba(var(--color-border-light), 1),
        rgba(var(--color-border-dark), 1)
      )
      border-box;
  border-radius: 20px;
  border: 4px solid transparent;
}

.skills h3 {
  margin-bottom: 2rem;
}

.skillJobList {
  line-height: 5rem;
}
