@import "../../vars.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 1;
}

.container h1 {
  font-size: 3.5rem;
  color: var(--color-text);
  font-style: italic;
  /* position: absolute; */
  left: 0;
  margin-bottom: 1.5rem;
}

.container h1 span {
  font-family: var(--font-sans-serif);
  font-style: normal;
  font-weight: 700;
}

.skillJob {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 4rem;
  flex-wrap: wrap;
}

.skills {
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
        140deg,
        rgba(var(--color-midgreen), 1) 0%,
        rgba(var(--color-border-dark), 1) 100%
      )
      padding-box,
    linear-gradient(
        130deg,
        rgba(var(--color-border-light), 0.5) 0%,
        rgba(var(--color-border-dark), 0.5) 100%
      )
      border-box;
  backdrop-filter: blur(200px);
  /* filter: blur(1px); */
  border-radius: 20px;
  border: 2px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 25%;
  min-height: 400px;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

.skills h3 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  font-size: 1.5rem;
  width: 100%;
}

.skillJobList {
  line-height: 1.6rem;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.skillJobList li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  gap: 1rem;
}

.skillJobList li img {
  width: 15px;
  height: 15px;
  flex: 0 0 15px;
  align-self: flex-start;
  margin-top: 0.2em;
}

.skillAppList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.5rem;
  border-radius: 50%;
}

.listButton {
  background-color: green;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  background: linear-gradient(
        150deg,
        rgba(var(--color-light), 0.1) 0%,
        rgba(var(--color-border-dark), 0.4) 100%
      )
      padding-box,
    linear-gradient(
        130deg,
        rgba(var(--color-border-light), 1) 0%,
        rgba(var(--color-border-dark), 1) 100%
      )
      border-box;
  cursor: pointer;
}

.skillAppList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skillAppList img {
  width: 45%;
  height: auto;
  object-fit: contain;
  background: none;
}

.skillAppList p {
  color: var(--color-text);
  font-family: var(--font-sans-serif);
  font-weight: 500;
}
