@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100svh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h1 {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 5rem;
  background: linear-gradient(
    90deg,
    rgb(var(--color-light)),
    rgb(var(--color-primary))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.content h1 span {
  display: inline;
  font-family: var(--font-sans-serif);
  font-style: normal;
}

.about {
  margin: 3rem 0;
  font-family: var(--font-sans-serif);
  font-size: 1.2rem;
  color: var(--color-text);
  max-width: 100ch;
  line-height: 3rem;
  text-align: center;
  padding: 0rem 2rem;
}

.about span {
  position: relative;
  /* display: inline-block; */
  padding: 0.2em 0.8em 0.2em 0.8em;
  font-family: var(--font-sans-serif);
  background: green;
  transform: skewX(-10deg);
  transform-origin: left top;
  line-height: 1.4;
  margin-left: 0.6rem;
}

.blur {
  position: absolute;
  width: 55vw;
  height: 60vw;
  min-width: 300px;
  min-height: 350px;
  top: 1600px;
  left: -15vw;
  border-radius: 700px;
  background: linear-gradient(
    rgba(15, 56, 30, 0.2) 10%,
    rgba(var(--color-border-dark), 0.4) 100%
  );
  filter: blur(300px);
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .content h1 {
    font-size: 3.5rem;
    align-items: center;
  }

  .about {
    max-width: 70ch;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
    align-items: center;
  }

  .content h1 span {
    display: block;
    margin-top: 0.5rem;
  }

  .about {
    max-width: 60ch;
    padding: 0 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .content h1 {
    font-size: 1.5rem;
    align-items: center;
  }

  .content h1 span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .about {
    max-width: 60ch;
    padding: 0 1rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
}
